 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans&family=Rambla:ital@1&display=swap');
 html {
     scroll-behavior: smooth;
 }

 body {
     color: #283655 !important;
     background-color: #f7faff !important;
     font-family: 'Rambla', sans-serif;
 }

 h2, h3 {
     font-family: 'Audiowide', sans-serif;
     letter-spacing: 0.2em;
     text-transform: uppercase;
     text-shadow: -1px -1px -1px #283655;
 }

 li {
     list-style: none;
 }

 /* ********************************* HEADER *************************************** */

 .navbar {
     background-color: #FAFAFA;
     opacity: 0.9;
     height: 42px;
     transition: 0.7s;
 }

 .menu {
     position: absolute;
     width: 100%;
     position: fixed;
 }

 .navbar-nav {
     width: 80% !important;
     margin: 0 auto;
     justify-content: space-between;
 }

 header {
     text-align: center;
     height: 300vh;
     background: url(media/header.jpg) no-repeat fixed 50% 50%;
     background-size: cover;
 }

 h1 {
     padding: 90px 0 10px 0;
     font-family: 'Josefin Sans', sans-serif;
     font-size: 4.3em;
     text-transform: uppercase;
 }

 #line {
     height: 1px;
     background-color: #b3aca7;
     width: 25%;
     margin: 0 auto;
 }

 h2 {
     padding: 20px 0 50px 0;
     font-size: 3em;
     text-transform: uppercase;
 }

 .presentation {
     height: 240px;
     margin-top: 20px;
 }

 .infos {
     border: 1px solid #b3aca7;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: 20px 0;
 }

 .photo {
     border: 1px solid #b3aca7;
     position: relative;
 }

 .photo img {
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     height: auto;
     max-width: 90%;
     border-radius: 3px;
     box-shadow: 0 0 4px #111;
 }

 header .button {
     margin-top: 45px;
 }

 header .button a {
     padding: 20px 80px;
     border: 1px solid #b3aca7;
     width: 300px;
     text-decoration: none;
     color: #283655;
 }

 header .button:hover a {
     background-color: #b3aca7;
     color: #e2dedb;
     transition: all 0.3s ease-in-out;
 }

 /* ************************* LANGAGES ********************************** */

 #langages {
     padding: 80px 80px 80px 50px;
     margin: 200px 0 0 6%;
     height: 620px;
     width: 70%;
     max-width: 640px;
     background: linear-gradient(130deg, #f12711 0%, rgba(245, 175, 25, 0.42) 99%);
     clip-path: polygon(0 10%, 100% 0, 100% 100%, 1% 90%);
 }

 #langages .bar {
     padding: 10px 10px 4px 0;
     letter-spacing: 0.1em;
     text-align: left;
 }

 /* ******************************* FORMATION ************************* */

 #formation {
     position: relative;
     top: -200px;
     float: right;
     margin-right: 5%;
     padding: 110px 0 60px 50px;
     width: 45%;
     max-width: 660px;
     clip-path: polygon(0 10%, 100% 0, 100% 100%, 1% 95%);
     background: linear-gradient(19deg, rgba(0, 180, 219, 0.69) 0%, #0083B0 80%);
 }

 h3 {
     text-align: left;
 }

 #autodidacte {
     padding: 20px;
     text-align: left;
 }

 #fcc {
     padding: 50px 0 0 9%;
     text-align: left;
 }

 #occ {
     padding: 50px 0 0 18%;
     text-align: left;
 }

 #formation h4 {
     font-weight: bold;
     letter-spacing: 0.08em;
     padding-bottom: 10px;
     color: #005978;
     text-shadow: -1px -1px 1px #35b4d5;
 }

 .counter {
     display: flex;
     text-align: center;
 }

 .data {
     border: 1px solid #35b4d5;
     width: 170px;
     margin: 0 4%;
     box-shadow: 0 0 8px #1c9dc4;
     padding: 5px 20px;
 }

 .counter-value {
     font-size: 2em;
 }

 .data-span {
     font-size: 1.8em;
 }